<div class="container">
    <div class="row">
        <div class="jumbotron bg-white text-center">
            <h1 class="fs-1">Covid-19 Tracker Country Wise</h1>
            <hr>
            
            <div class="mx-auto">
                <div class="form-group col-lg-4 mx-auto">
                    <select name="" class="form-control" id="country" #input  (change)="updateValues(input.value)">
                        <option value="country">Select Country</option>
                        <option value="{{con}}" *ngFor="let con of countries">{{con}}</option>
                    </select>
                </div>
            </div>
            <br>
            <app-dashboard-card [totalConfirmed]="totalConfirmed"
                [totalDeaths]="totalDeaths"
                [totalRecovered]="totalRecovered"
                [newConfirmed]="newConfirmed">
            </app-dashboard-card>
        </div>
    </div>
</div>
