<mat-grid-list cols="4" rowHeight="2:1">
    <mat-grid-tile>
        <span class="count">{{totalConfirmed}}</span>
        <mat-grid-tile-header>Total Confirmed Cases</mat-grid-tile-header>
    </mat-grid-tile>
    <mat-grid-tile>
        <span class="count">{{totalDeaths}}</span>
        <mat-grid-tile-header>Total Deaths</mat-grid-tile-header>
    </mat-grid-tile>
    <mat-grid-tile>
        <span class="count">{{totalRecovered}}</span>
        <mat-grid-tile-header>Total Recovered </mat-grid-tile-header>
    </mat-grid-tile>
    <mat-grid-tile>
        <span class="count">{{newConfirmed}}</span>
        <mat-grid-tile-header>New Confirmed Cases</mat-grid-tile-header>
    </mat-grid-tile>
    
</mat-grid-list>
